<settings>
<servers>
  <server>
    <id>devops-project1-DevOps-Lohitaksh</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>devops-project1-DevOps-Lohitaksh</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>devops-project1-DevOps-Lohitaksh</id>
        <url>https://devops-project1-593793060554.d.codeartifact.ap-south-1.amazonaws.com/maven/DevOps-Lohitaksh/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>devops-project1-DevOps-Lohitaksh</id>
    <name>devops-project1-DevOps-Lohitaksh</name>
    <url>https://devops-project1-593793060554.d.codeartifact.ap-south-1.amazonaws.com/maven/DevOps-Lohitaksh/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
